<div class="modal fade" id="criacaoOferta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
            <div class="registo shadow-lg p-3 bg-body rounded">
                <div class="row">
                    <div class="imgCriarAnuncio col-sm-6 mt-3">
                        <img class="img-fluid" src="http://localhost:3000/files/Assets/criarAnuncio.svg" alt="work">
                    </div>
    
                    <div class="formulario col-sm-6 align-self-center">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-sm-12 mt-2">
                                    <label for="area" class="form-label">Area</label>
                                    <select class="form-select" aria-label="Default select example" id="area" required>
                                        <option selected></option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
    
                                <div class="col-sm-12 mt-2">
                                    <label for="descricao" class="form-label">Descrição do trabalho dos formandos</label>
                                    <textarea class="form-control" id="descricao" style="border-radius: 15px;" rows="3" required></textarea>
                                </div>
                    
                                <div class="col-sm-12 mt-2">
                                    <label for="vagas" class="form-label">Numero de vagas</label>
                                    <input type="text" class="form-control" id="vagas" style="border-radius: 15px;" required>
                                </div>
                    
                                <div class="col-sm-6 mt-2">
                                    <label for="ilha" class="form-label">Ilha</label>
                                    <select class="form-select" aria-label="Default select example" id="ilha" required>
                                        <option selected></option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                    
                                <div class="col-sm-6 mt-2">
                                    <label for="ilha" class="form-label">Concelho</label>
                                    <select class="form-select" aria-label="Default select example" id="concelho" required>
                                        <option selected></option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                
                                <center>
                                    <div class="col-sm-12 mt-4">
                                        <button type="button" class="btn btn-primary col-sm-6" style="border-radius: 30px;">Criar Oferta</button>
                                    </div>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>                                              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
    </div>
    
    </div>